<th:block th:fragment="navigation" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-5 py-3">
        <a class="navbar-brand mr-4" href="#">Library Management System</a>
<!--        <div sec:authentication="principal.authorities"></div>-->

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                    <a class="nav-link" href="#">Loans</a>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('MEMBER')">
                    <a class="nav-link" href="#">My Loans</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Books</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('ADMIN', 'LIBRARIAN')">
                    <a class="nav-link" href="#">Works</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('ADMIN', 'LIBRARIAN')">
                    <a class="nav-link" href="#">Authors</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('ADMIN', 'LIBRARIAN')">
                    <a class="nav-link" href="#">Categories</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('ADMIN', 'LIBRARIAN')">
                    <a class="nav-link" href="/users">Users</a>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('MEMBER')">
                    <a class="nav-link" href="/users/myDetails">My Details</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</th:block>